# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

1. `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

2. `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

3. `.upper()` : 모두 대문자로 만들어 반환합니다.

함수와 메서드 차이

함수: func()

메서스: ?.method()

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

In [ ]:
a.capitalize()
a.title()
a.upper()

In [ ]:
a.capitalize()
a.title()
a.upper()
# 원본을 직접 변형 시키는게 아니라 변형된 값만 반환.
print(a)

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [ ]:
a = 'hI! Everyone, I\'m kim'
# 아래에 코드를 작성하세요.

In [ ]:
a.lower()
a.swapcase()

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [ ]:
# 아래에 코드를 작성하세요.

In [1]:
' '.join('배고파')

'배 고 파'

In [2]:
a = ['hi', 'hello']
' '.join(a)

'hi hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 개수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [ ]:
'yay!'.replace('a', '_')

In [ ]:
'wooooowoo'.replace('o', '', 2)

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [4]:
'      oh!\n'.strip()

'oh!'

In [5]:
'      oh!\n    '.lstrip()

'oh!\n    '

In [6]:
'heheheheheheihihiehehehhihi'.rstrip('hi')

'heheheheheheihihiehehe'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [7]:
'apple'.find('p')
'apple'.find('o')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [1]:
'apple'.index('p')
'apple'.index('o')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [8]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [12]:
inputs = input().split()
print(inputs)

fkdk  fkdf
['fkdk', 'fkdf']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [ ]:
dir('string')

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [ ]:
# 카페 리스트를 만들어봅시다.

In [13]:
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [ ]:
cafe.append('cafebene')
print(cafe)

In [ ]:
# 값을 추가해봅시다.

In [ ]:
# 어렵게 넣어보도록 해봅시다.

In [ ]:
cafe[len(cafe):] = ['ediya']
print(cafe)

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [14]:
# 앞서 만든 리스트에 추가해봅시다.

In [15]:
cafe.extend(['droptop', '빽다방'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'droptop', '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [ ]:
cafe += ['mccafe', 'burgerking']
print(cafe)

In [30]:
a = {1: '1', 2: '2', 3: '3'}

In [ ]:
# append와 비교해봅시다.

In [ ]:
cafe.append(['append cafe'])
print(cafe)
print('----------')
cafe.extend(['extend cafe'])
print(cafe)
print('-------------')

cafe.extend('extend string')
print(cafe)

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [33]:
cafe

['starbucks', 'tomntoms', 'hollys', 'droptop', '빽다방']

In [34]:
cafe.insert(1, 'hi')
print(cafe)

['starbucks', 'hi', 'tomntoms', 'hollys', 'droptop', '빽다방']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
# insert로 맨 뒤에 넣으려면 인덱스가 -1이 아니라 길이를 넣어야 마지막에 들어감
cafe.insert(len(cafe), 'hi')
print(cafe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

In [ ]:
cafe.insert(len(cafe)+100, '!')
print(cafe)

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.

In [ ]:
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [ ]:
numbers.remove(1)
print(numbers)

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [ ]:
numbers.remove(10)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, **그 항목을 반환합니다.**

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [ ]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
print(a.pop(0))

In [ ]:
print(a)

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [ ]:
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}이 되었습니다.')

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
# 3이 위치한 인덱스 값을 반환
a.index(3)

In [ ]:
# 없는 값의 경우 value error
a.index(10)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [ ]:
a.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [ ]:
a = [1, 2, 5, 1, 5, 1]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)

In [ ]:
print(a)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [ ]:
target_value in a

### `.sort()` 와 `.sorted()`

정렬을 합니다. 

`sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [ ]:
# sort() 를 사용해봅시다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
lotto.sort()
print(lotto.sort()) # 반환하는 값은 없고
print(lotto) # 원본 자체를 오름차순으로 변형

lotto.sort(reverse=True) # 내림차순 정렬
print(lotto)

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin']
classroom.reverse()
print(classroom)

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
copy_list = original_list
print(copy_list)

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [ ]:
copy_list[0] = 5
print(original_list)

# 안 바뀔줄 알았는데, 바뀜. id의 주소를 복사하는 듯함.
# 리스트의 경우에 해당하는 얘기임. 그냥 정수 변수일 경우는 내가 생각하는게 맞음.
# 리스트 안의 숫자를 보는게 아니라, 리스트 자체의 id를 복사하는 듯

In [ ]:
# id 값을 확인해봅시다.

In [ ]:
copy_list is original_list
id(copy_list) == id(original_list)

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
a = 20005
b = a
b = 30005
print(a)

# 리스트와 복사와 다름
a is b

In [ ]:
# 딕셔너리도 확인해봅시다.

In [ ]:
lunch = {'김밥천국': '치즈라면', '김가네': '제육볶음'}
dinner = lunch

dinner['김밥천국']= '참치김밥'
print(lunch)

# 딕셔너리도 리스트와 같음.

### 복사 와 `.deepcopy()`
> pythontutor 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [ ]:
a = [1, 2, 3]
b = a[:] # b = a와는 다르다. 슬라이스[:]로 복사하면 a가 가르키는 주소가 아닌 전혀 다른 주소를 가지게 된다.

b[0] = 5
print(a)

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [57]:
# 얕은 복사
a = [1, 2, [1, 2]] # 리스트 안에 또 리스트가 있는 경우는 어떻게 될까?
b = a # 리스트 자체는 다른 id 를 가지지만 리스트 안에 있는 리스트는 같은 id를 가지게 됨

b[2][0] = 100 
print(a)

[1, 2, [100, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [56]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 100
print(a)

[1, 2, [1, 2]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [ ]:
numbers = list(range(1, 100))
print(numbers)

numbers.clear()
print(numbers)

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

List Comprehension은 리스트 안에 식, for 문을 저장합니다.

여러줄의 코드를 한 줄로 줄일 수 있습니다.

```python
[식 for 변수 in iterable] # .append() 가 필요하지 않음
또는
list(식 for 변수 in iterable)```

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
# 기존의 방법

In [1]:
cubic_list = []
for i in range(1, 11):
    cubic_list.append(i**3)
    
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [2]:
cubic_list = [x**3 for x in range(1, 11)]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문
```python
[식 for 변수 in iterable if 조건식]

# else가 붙을 경우 조건식이 앞으로 나간다. 그래서 else 가 붙을 경우 list comprehension 을 잘 안씀
[식 if 조건식 else 식 for 변수 in interalbe]

# elif까지 붙을 경우
# else 이후의 `식`은 식 뒤에 if 와 한 쌍이라고 생각할 것.
# 즉 `식 if 조건식 else`까지가 하나
[식 if 조건식 else 식 if 조건식 else 식 for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 기존의 방법

In [3]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [8]:
even_list = [i for i in range(1, 11) if i%2==0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [19]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [17]:
pair_lists = []

for boy in boys:
    for girl in girls:
        pair_lists.append(([boy, girl]))
        
print(pair_lists)

[['justin', 'jane'], ['justin', 'iu'], ['justin', 'mary'], ['david', 'jane'], ['david', 'iu'], ['david', 'mary'], ['kim', 'jane'], ['kim', 'iu'], ['kim', 'mary']]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [24]:
pair_lists = [(boy, girl) for boy in boys for girl in girls]
print(pair_lists)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```python
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
# 내 코드
result = []
for x in range(3, 50):
    for y in range(4, 50):
        for z in range(4, 50):
            if x<y and y<z and z**2 == x**2 + y**2:
                result.append((x, y, z))
                
print(result)

In [37]:
# 강사님 코드
result = []
for x in range(1, 50):
    for y in range(x, 50): # range를 x부터 시작하면 아래 x<y 조건식을 추가할 필요가 없음.
        for z in range(y, 50): # 마찬가지
            if z**2 == x**2 + y**2:
                result.append((x, y, z))
                
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [38]:
result = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if z**2 == x**2 + y**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

```python
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

In [44]:
# 내 코드
words = 'Life is too short, you need python!'
mos = ['a', 'e', 'i', 'o', 'u']
new_words = ''
for word in words:
    for mo in mos:
        if word == mo:
            word = ''
            break
    new_words += word
        
    
print(new_words)

Lf s t shrt, y nd pythn!

In [49]:
# 강사님 코드
words = 'Life is too short, you need python!'
vowels = 'aeiou' # 굳이 리스트로 안 만들어도 됨

result = []
for x in words:
    if x not in vowels: # 안 들어 있는지 바로 확인하는 'not in' 사용
        result.append(x)
print(''.join(result)) #''.join()으로 합쳐버림

Lf s t shrt, y nd pythn!

In [50]:
# 강사님 코드
words = 'Life is too short, you need python!'
vowels = 'aeiou' # 굳이 리스트로 안 만들어도 됨

result = [x for x in words if x not in vowels]
print(result)
print(''.join(result)) # 리스트를 공백으로 합쳐버림.

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']
Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [52]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [53]:
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다

In [54]:
my_dict.pop('melon')

KeyError: 'melon'

In [56]:
# 두번째 인자로 default를 설정할 수 있습니다
# KeyError를 받고 싶지 않은 경우

In [57]:
my_dict.pop('melon', 0)

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [59]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [61]:
my_dict.update(apple='사과아아아')
print(my_dict)

{'apple': '사과아아아', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [62]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [67]:
print(my_dict.get('pineapple'))
print(my_dict.get('apple'))
print(my_dict.get('coconut',1)) # default를 None -> 1로 바꿈

None
사과
1

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

```python
{키: 값 for 키 또는 값 in 딕셔너리}
또는
dict(키: 값 for 키 또는 값 in 딕셔너리) # 더 좋은 방법은 아님

{키: 값 for 키 또는 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 키: 값 for 키 또는 값 in 딕셔너리}```

In [ ]:
# dictionary comprehension

1: 1, 2: 8, 3: 27.... 세제곱 형태로 만들기

In [70]:
cubic = {x: x**3 for x in range(1, 8)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### dictionary comprehension 사용해보기

In [111]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [100]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [88]:
new_dusts = {}

for dust_area, dust_value in dusts.items():
    if dust_value > 80:
        new_dusts[dust_area] = dust_value # 딕셔너리에 키, 값 추가 하는 법
        
print(new_dusts)

{'대전': 82, '중국': 200}

In [91]:
new_dusts = {dust_area: dust_value for dust_area, dust_value in dusts.items() if dust_value>80}

print(new_dusts)

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.

In [95]:
new_dusts = {}

for dust_area, dust_value in dusts.items():
    if dust_value > 80:
        new_dusts[dust_area] = '나쁨' # 딕셔너리에 키, 값 추가 하는 법
    else:
        new_dusts[dust_area] = '보통'
        
print(new_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [115]:
new_dusts = {dust_area: '나쁨' if dust_value>80 else '보통' for dust_area, dust_value in dusts.items()}
print(new_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.

In [121]:
new_dusts = {}

for dust_area, dust_value in dusts.items():
    if dust_value > 150:
        new_dusts[dust_area] = '매우나쁨'
    elif dust_value > 80:
        new_dusts[dust_area] = '나쁨' # 딕셔너리에 키, 값 추가 하는 법
    elif dust_value > 30:
        new_dusts[dust_area] = '보통' # 딕셔너리에 키, 값 추가 하는 법
    else:
        new_dusts[dust_area] = '좋음'
        
print(new_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

In [122]:
new_dusts = {dust_area: '매우나쁨' if dust_value>150 else '나쁨' if dust_value>80 else '보통' if dust_value>30 else '좋음' for dust_area, dust_value in dusts.items()}
print(new_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [137]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [148]:
a.add('포도') # set은 순서가 없으므로 그냥 아무데나 집어넣음. 인덱스 접근도 불가 / 중복도 존재하지 않음.
print(a)

{'포도', '수박', '사과', '바나나'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [150]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [151]:
a.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'}) # 순서없이 합쳐져서 들어감
print(a)

{'포도', '사과', '토마토', '바나나', '딸기', '레몬', '수박'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [165]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [166]:
a.remove('사과')
print(a)

{'수박', '바나나'}

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [63]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a

{'바나나', '사과', '수박'}

In [178]:
a.discard('사과')
print(a)

{'수박', '바나나'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [270]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [275]:
# 랜덤으로 빠짐. 단, 다시 실행해도 똑같은게 빠짐. 하지만, 터미널 다시 시작하면 다른게 빠짐
# 불변인 타입은 파이썬이 hash table 이라는 것으로 만드는 데 이 hash table에 정해진 순서가 존재한다.
# 현재 파이썬 실행환경에서 set.pop()이 계속 같은 이유는 처음 만들어진 set이 같은 hash table 값으로 이루어져 있기 때문이다.
# 파이썬 실행환경이 바뀌어야 pop으로 나오는 인자가 바뀐다(즉, 파이썬 실행환경이 바뀌면 만들어지는 hash table도 바뀌기 때문.)
print(a.pop())
print(a)

KeyError: 'pop from an empty set'

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 `map_object` 형태로 됩니다.

In [285]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [278]:
# list comprehension

In [288]:
# int를 그냥 str로 바꾼후 join 해줌
new_numbers = ''.join([str(num) for num in numbers])
print(new_numbers)

123

In [291]:
# map
new_numbers = map(str,numbers)
print(new_numbers)
print(''.join(new_numbers))

<map object at 0x00000136BFFB5F60>
123

In [65]:
numbers = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [66]:
new_numbers = map(int, numbers)

In [67]:
new_numbers

In [68]:
list(new_numbers)

[1, 2, 3]

In [ ]:
# list comprehension

In [301]:
new_numbers = [int(num) for num in numbers]
print(new_numbers)

[1, 2, 3]

In [310]:
new_numbers = list(map(int,numbers)) # []로 묶으면 map object 주소가 들어가므로 안됨.
print(new_numbers)

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [311]:
# 세제곱의 결과를 나타내는 함수
def cube(num):
    return num**3

In [316]:
numbers = [1, 2, 3, 4, 5]
new_numbers = list(map(cube, numbers)) # map에서 함수자리에 함수를 넣을때 괄호'()'없이 함수명만 넣으면 된다.
print(new_numbers)

[1, 8, 27, 64, 125]

## `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [1]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [2]:
list(zip(girls, boys)) # tuple 형식으로 합쳐줌.

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [3]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [4]:
# dictionary Comprehension

In [5]:
new_dict = {}
for girl in girls:
    for boy in boys:
        new_dict[girl] = boy
print(new_dict)
#이렇게 하면 이중 for 문이기 때문에, key는 유일해서 마지막 값으로 덮어씌어진다.

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [6]:
{girl: boy for girl in girls for boy in boys}
#이렇게 하면 이중 for 문이기 때문에, key는 유일해서 마지막 값으로 덮어씌어진다.

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [7]:
# zip
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [11]:
a = '133'
b = '233'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 2
3 3
3 3

* 아래와 같이 사용가능하다.

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [331]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [332]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [333]:
# 홀수인지 판단하는 함수를 작성해봅시다.

In [70]:
def odd(n):
    return n % 2

In [71]:
numbers = [1, 2, 3, 4, 5]
list(filter(odd, numbers))

[1, 3, 5]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [342]:
[x for x in numbers if x % 2]

[1, 3, 5]

In [343]:
[x for x in numbers if odd(x)]

[1, 3, 5]